
.scroll_menu
{
    width: 80vw;
    height: 35vh;
   /* border: 2px solid red;*/
    margin:auto;
    margin-top: 50px;
    display: flex;
    scroll-behavior: smooth;
}



.scroll_menu_button 
{
    width:5%;
    height:100%;
}

.main_scroller
{
    display: flex;
    width:90%;
    height:100%;
    overflow-y: hidden;
    overflow-x:auto;
    scroll-behavior: smooth;
    margin-left: 50px;
    margin-right: 50px;
}


.main_scroller::-webkit-scrollbar 
{
    -webkit-appearance: none;
}


.item_div
{
    min-width:20%;
    height:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.item 
{
    max-width:7rem;
    height:7rem;
}


.item_text 
{
    display: flex;
    height: 45%;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
}

/* ---------styling the scroll buttons --------------*/

.button_svg
{
    width: 100%;
    height:100%;
}

.scroll_menu_button > button 
{
    width:100%;
    height:100%;
    border:0px;
    background-color: white;
    cursor: pointer;

}



/* --------------------------- star rating for scrolling section styling -----------------------------*/
.star_rating
{
    display: flex;
    max-width:80%;
    height:20%;
    width:auto;
    justify-content: center;
    align-items: center;
}

.star_rating_span 
{
    display: flex;
    width:20%;
    height:100%;
    justify-content: center;
    align-items: center;

}

.item_div_paragraph 
{
    display: flex;
    width:100%;
    height:20%;
    width:auto;
    justify-content: center;
    align-items: center;
}

.gold_star_icon
{
    width:100%;
    height:100%;
    margin-right: 5px;
}

.plain_star_icon
{
    width:100%;
    height:100%;
}


.item_button 
{
    background-color: orange;
    width:100%;
    padding-left: 10px;
    padding-right: 10px;
    border:0px;
    color:white;
}

.item_text > p 
{
    margin: 0px;
}

.img_div
{
    height:45%;
    margin-bottom: 20px;
}