
.scroll_menu_header
{
    width: 80vw;
    margin:auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-bottom: 2px solid rgb(189, 188, 188);

}

.scroll_menu_header > h2 
{
    width: 100%;
    font-weight: lighter;
}

.scroll_menu
{
    width: 80vw;
    height: 35vh;
   /* border: 2px solid red;*/
    margin:auto;
    display: flex;
    scroll-behavior: smooth;
}



.scroll_menu_button 
{
    width:5%;
    height:100%;
}

.main_scroller
{
    display: flex;
    width:90%;
    height:100%;
    overflow-y: hidden;
    overflow-x:auto;
    scroll-behavior: smooth;
    margin-left: 50px;
    margin-right: 50px;
}


.main_scroller::-webkit-scrollbar 
{
    -webkit-appearance: none;
}


.item_div
{
    min-width:20%;
    height:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}


.item 
{
    max-width:6rem;
    height:6rem;
    transition: transform(0.5);
}

/*-----------*/

.item:hover
{
    transition: 1s;
    transform: scale(1.05);
}


.item_text 
{
    display: flex;
    height: 50%;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
}

/* ---------styling the scroll buttons --------------*/

.button_svg
{
    width: 100%;
    height:100%;
}

.scroll_menu_button > button 
{
    width:100%;
    height:100%;
    border:0px;
    background-color: white;
    cursor: pointer;

}



/* --------------------------- star rating for scrolling section styling -----------------------------*/
.star_rating
{
    display: flex;
    max-width:80%;
    height:20%;
    width:auto;
    justify-content: center;
    align-items: center;
}

.star_rating_span 
{
    display: flex;
    width:20%;
    height:100%;
    justify-content: center;
    align-items: center;

}

.item_div_paragraph 
{
    display: flex;
    width:100%;
    height:20%;
    /*width:auto;*/
    justify-content: center;
    align-items: center;
}

.gold_star_icon
{
    width:100%;
    height:100%;
    margin-right: 5px;
}

.plain_star_icon
{
    width:100%;
    height:100%;
}


.item_button 
{
    background-color: orange;
    width:60%;
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    border:0px;
    color:white;
    cursor: pointer;
    transition: transform 0.5;
}

.item_out_of_stock_button
{
    background-color: rgb(0, 255, 157);
    width:60%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    border:0px;
    color:white;
    cursor: pointer;
    transition: transform 0.5;
}


.item_button:hover 
{
    transition:1s;
    transform:scale(1.05);
}



.item_text > p 
{
    margin: 0px;
}

.img_div
{
    height:50%;
    /*margin-bottom: 20px;*/
}



/*----------------------------------special items section styling -------------------------*/

.special_price
{
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin:auto;
    margin-top: 50px;
    align-items: center;
    justify-content:center;
}

.special_price_header
{
    display: flex;
    width:100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgb(189, 188, 188);

}

.special_price_header_div
{
    display: flex;
    width:20%;
    align-items: center;
}

.special_price_ul
{
    display: flex;
    width:30%;
    justify-content:space-evenly;
    align-items: center;
}

.special_price_ul > li 
{
    list-style: none;
}

.special_price_ul > li > a  
{
    text-decoration: none;
    color: black;
}

.special_price_heading
{
    font-weight: lighter;
}



/*-----------special price styling . */
.special_price_items
{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.special_price_items_off 
{
    display: none;
    visibility: none;
}

/*------special price styling . */



.special_price_items_row
{
    width: 100%;
    height: 35vh;
    margin-top: 20px;
    display: flex;
    /*justify-content: center;*/
}




/*---------------- styling for the blog section of the project----------------------*/ 

.blog_section
{
    width:90vw; 
    margin:auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}

.blog_div 
{
    width:100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.blog_div_img 
{
    width: 100%;
    margin-top: 10px;
}

.blog_section > .blog_div > .blog_div_img > img 
{
    width:100%;
    height:100%;
}

.blog_div_text
{
    display: flex;
    justify-content:center;
    margin-top: 20px;
}

.blog_div_link 
{
    display: flex;
    margin-top: 30px;
}

.blog_div_link > a 
{
    text-decoration: none;
    color: rgb(0, 145, 255);
}

.blog_header
{
    width:90%;
    margin: auto;
    border-bottom: 2px solid rgb(189, 188, 188);
}

.blog_header > h2 
{
    font-weight: lighter;
}

.blog_div_header > h2
{
    font-weight:lighter;

}





/*--------------------this is the footer section styling ---------------------------*/

.footer 
{
    width:100vw;
    background-color:rgb(30, 29, 41);
    padding:20px;
}

.footer_div
{
    width: 80%;
    margin:auto;
    display: flex;
}

.footer_div_section_one
{
    width:25%;
    color: white;
    margin-right: 50px;
}


.footer_div_section_three
{
    width:20%;
    color: white;
}

.footer_div_section_two
{
    width:35%;
    color: white;
    display: flex;
    flex-direction: column;
}

.sub_input
{
    width:120px;
    height:25px;
    padding:2px;
    padding-left: 5px;
    border:0;
    border-radius: 2px;
    margin-right: 10px;
}

.subscribe_button
{
    width: 70px; 
    padding: 2px;
    height:25px;
    background-color: rgb(24, 86, 242);
    border:0;
    border-radius: 2px;
    color:white;
}

.subscribe_form 
{
    margin-top: 10px;
    display: flex;
}

.footer_header 
{
    margin-bottom: 15px;
}

.footer_p 
{
    color: rgb(131, 129, 129);
    font-weight: 10px;
}

.footer_ul 
{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    list-style:none;
}

.footer_ul > li > a 
{
    color: rgb(131, 129, 129);
    text-decoration: none;
}


.copy_write 
{
    display: flex;
    color: white;
    justify-content:center;
    margin-top: 100px;
}


.copy_write > h3 
{
    font-size: 15px;
}

.name 
{
    color: rgb(0, 132, 255);
}



/*----------------------------------styling the pre nav bar section -------------------------------*/

.sign_in_button 
{
    background-color: rgb(95, 194, 247);
    padding: 5px;
    color: white;
    border: 1px ;
    border-radius: 5px;
}

.sign_in_button:hover
{
    background-color: rgb(95, 194, 247);
    padding: 5px;
    color: white;
    border: 1px ;
    border-radius: 5px;
    box-shadow: 2px -2px 10px rgb(165, 164, 164),
    -2px -2px 10px rgb(165, 164, 164);
}



/*-----------this is the section for login button ---------------------*/
.login_button 
{
    background-color: rgb(95, 194, 247);
    padding: 5px;
    color: white;
    border: 1px ;
    border-radius: 5px;
}

.login_button:hover
{
    background-color: rgb(95, 194, 247);
    padding: 5px;
    color: white;
    border: 1px ;
    border-radius: 5px;
    box-shadow: 2px -2px 10px rgb(165, 164, 164),
    -2px -2px 10px rgb(165, 164, 164);
}

.wish_list_button 
{
    background-color: rgb(95, 194, 247);
    padding: 5px;
    color: white;
    border: 1px ;
    border-radius: 5px;
}

.wish_list_button:hover
{
    background-color: rgb(95, 194, 247);
    padding: 5px;
    color: white;
    border: 1px ;
    border-radius: 5px;
    box-shadow: 2px -2px 10px rgb(165, 164, 164),
    -2px -2px 10px rgb(165, 164, 164);
}

/* .user_button 
{
    background-color: rgb(95, 194, 247);
    padding: 5px;
    color: white;
    border: 1px ;
    border-radius: 5px;
} */

.user_button
{
    background-color:black;
    padding: 5px;
    color: white;
    border: 1px ;
    border-radius: 5px;
    box-shadow: 2px -2px 10px rgb(165, 164, 164),
    -2px -2px 10px rgb(165, 164, 164);
}

.user_button > a 
{
    color: white;
}

.login_button > a 
{
    color: white;
}

.wish_list_button > a 
{
    color: white;
}


.sign_in_button > a 
{
    color:  white;
}


.user_icon
{
    display: flex;
    justify-content: center;
    align-items: center;
    width : 40px;
    height : 25px;
}