*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.form_section 
{
    height: 700px;
    display: flex;
    margin-top: 10vh;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}


/* ------------------------form division styling  begins-------------------------*/

.form_div 
{
    width: 30vw;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    height: 100%;
    box-shadow: 2px -2px 10px rgb(165, 164, 164),
                -2px -2px 10px rgb(165, 164, 164);
}

    /*--------------------top_login styling  begins----------------*/

.top_login_form_div
{
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 36%;
}

.logo 
{
    /* background-color: orange; */
    display: flex;
    color: black;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40%;
    width: 80%;
}


.welcome_text
{
    /* background-color: black; */
    display: flex;
    color: black;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30%;
    width: 80%;
}
.login_text 
{
    /* background-color: blue; */
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30%;
    width: 80%;
    border-bottom: 2px solid rgb(125, 122, 122);
}

.login_text_div 
{
    width: 100%;
    height: 50%;
    background-color: rgb(245, 244, 244);
    display: flex;
    color: rgb(169, 169, 169);
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

    /*-------------------top_login styling  ends ------------------*/


    /*------------------middle_login syling  begins---------------*/

.middle_login_form_div
{
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 40%;
}


.login_form 
{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    border-bottom: 2px solid rgb(125, 122, 122);
}

.email 
{
    height: 17%;
    font-size: 16px;
    padding: 20px;
    border: 1px solid ;
    border-radius: 3px;
    margin-bottom: 10px;
}
.email::placeholder
{

    font-size: 16px;
}

.password
{
    height: 17%;
    font-size: 16px;
    padding: 20px;
    border: 1px solid;
    border-radius: 3px;
    margin-top: 10px;
}

.password::placeholder
{
    font-size: 16px;
}

.remember_me_and_forgot_password
{
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px;
    /* background-color: gray; */
    border-radius: 3px;
    margin-top: 10px;
}


.remember 
{
    width: 60%;
    display: flex;
    align-items: center;
    color: black;
    /* background-color: aqua; */
}

.checkbox_input
{
    margin-left: 10px;
    margin-right: 10px;
}

.forgot_password 
{
    width: 40%;
    /* background-color: blueviolet; */
}

.forgot_password a 
{
    text-decoration: none;
}


.submit_button
{
    height: 17%;
    border: 1px;
    font-size: 20px;
    background-color: rgb(0, 115, 246);
    border-radius: 3px;
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.86);
   
    transition: background-color 1s;
}

.submit_button:hover
{
    transition: background-color 1s;
    cursor: pointer;
    background-color: rgb(3, 89, 188);
}

    /*------------------middle_login styling  ends----------------*/

    /*-----------------bottom login styling begins ---------------*/

.bottom_login_form_div
{
    /* background-color: brown; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10%;
}

.error_message
{
    color: red;
}


.sign_in_link
{
    display: flex;
    height: 50%;
    align-items: center;
    justify-content: center;
}
.sign_in_link_a 
{
   text-decoration: none; 
}

    /*-------------------bottom login styling ends------------------*/


/* ---------------------form division styling ends ---------------------------------------*/