<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mobile</title>
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/landing_page.css">
        <link rel="stylesheet" href="../css/shopping_cart.css">
        <link rel="stylesheet" href="../css/mobile.css">
    </head>
<body>
    

    <header>
        <div class="div_before_nav">
          <div class="div_before_nav_first_div">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni,
              praesentium!
            </p>
          </div>
  
          <div class="div_before_nav_links">
            <p>
              <a href="" class="login_link">Login <span><img src="../assets/svgs/login_icon.svg" alt="" srcset="" class="login_icon"></span></a>
            </p>
            <p><a href="">Wishlist</a></p>
            
          </div>
        </div>
        <nav class="nav">
          <div class="mobile_shopee">Mobile Shopee</div>
          <ul class="nav_ul">
            <li><a href="">On Site</a></li>
            <li>
              <a href="#"></a>
              Category
            </li>
            <li>
              <select name="" id="">
                <option value=""><a href="">Products</a></option>
                <option value=""><a href=""></a></option>
                <option value=""><a href=""></a></option>
                <option value=""><a href=""></a></option>
              </select>
            </li>
            <li><a href="#">Blog</a></li>
            <li>
              <select name="" id="">
                <option value="">
                  <a href=""></a>
                  Category
                </option>
                <option value=""><a href=""></a></option>
                <option value=""><a href=""></a></option>
                <option value=""><a href=""></a></option>
              </select>
            </li>
            <li>
              <a href="#"></a>
              Comming Soon
            </li>
          </ul>
  
          <div class="shoping_cart">
            <p>

              <div class="shopping_cart_div">
                <button class="shopping_cart_button"><img src="../assets/svgs/shopping_cart1.svg" alt="" srcset="" class="shopping_cart"></button>
                <span class="shopping_cart_value">0</span>
              </div>

            </p>
          </div>
        </nav>
      </header>





      <section class="mobile">

        <div class="mobile_img_div">
          <div class="mobile_phone">
            <img src="../assets/products/8.png" alt="" srcset="" class="mobile_phone_img">
          </div>
          
          <div class="large_button_div">
            <button class="buy_button">Proceed to Buy Product</button>
            <button class="add_to_cart_button">Add to Cart</button>
          </div>
        </div>


        <div class="mobile_text_div">
          <div class="mobile_text_div1">
            <h3 class="mobile_item_name">Redmi Note</h3>
            <p>by Redmi</p>
            <p class="mobile_star_p">
              <span class="mobile_star_p_div">
                  <span  class="mobile_stars"><img src="../assets/svgs/gold_star.svg" alt="" srcset="" class="mobile_star_img"></span>
                  <span  class="mobile_stars"><img src="../assets/svgs/gold_star.svg" alt="" srcset="" class="mobile_star_img"></span>
                  <span  class="mobile_stars"><img src="../assets/svgs/gold_star.svg" alt="" srcset="" class="mobile_star_img"></span>
                  <span  class="mobile_stars"><img src="../assets/svgs/gold_star.svg" alt="" srcset="" class="mobile_star_img"></span>
                  <span  class="mobile_stars"><img src="../assets/svgs/plain_star.svg" alt="" srcset="" class="mobile_star_img"></span>
              </span>
              <span class="item_star_p_ratings">20594 ratings</span>

          </p>
          </div>

          <div class="mobile_text_div2">
            <div class="mobile_price">
              <p><span class="mrp">MRP:</span> <strike>$162.00</strike></p>
              <p>Deal Price <span class="m_price">$122.00</span> including all taxes.</p>
              <p>You Save <span class="m_price">$152.00</span></p>
            </div>
            <div class="delivery_info">

              <div class="delivery_info_div">
                <div class="mobile_img">
                  <a class="mobile_img_link" href="./templates/shopping_cart.html" ><img src="../assets/svgs/replace.svg" alt="" srcset="" class="delivery_icon"></a>
                </div>
                <div class="mobile_text">
                  <p class="mobile_text_p">10 Days Replacement</p>
                </div>
              </div>

              <div class="delivery_info_div">
                <div class="mobile_img">
                  <a class="mobile_img_link" href="./templates/shopping_cart.html" ><img src="../assets/svgs/delivery_truck.svg" alt="" srcset="" class="delivery_icon"></a>
                </div>
                <div class="mobile_text">
                  <p class="mobile_text_p">Daily Tuition Delivered</p>
                </div>
              </div>

              <div class="delivery_info_div">
                <div class="mobile_img">
                  <a class="mobile_img_link" href="./templates/shopping_cart.html" ><img src="../assets/svgs/warranty_icon.svg" alt="" srcset="" class="delivery_icon"></a>
                </div>
                <div class="mobile_text">
                  <p class="mobile_text_p">1 Year Warranty</p>
                </div>
              </div>

            </div>

          </div>

          <div class="mobile_text_div3">
            <p>Delivery By : Mar 29 - Apr 1</p>
            <p>Sold by <a class="daily_electronics" href="#">Daily Electronics</a> ( 4.5 out of 5 | 18,198 ratings ) </p>
            <p><span class="location_icon_span"><img src="../assets/svgs/location_icon.svg" alt="" class="location_icon"></span> Deliver To Customer - 424201 </p>
            <p class="mobile_color_selection_p">color:

              <span class="mobile_colors">
               <button class="available_color color1"></button>
               <button class="available_color color2"></button>
               <button class="available_color color3"></button>
              </span>

              <span class="quantity_input_form">
                Qty: 
                <span class="form add_margin">
                  <button class="input_add input_button">-</button>
                  <input type="text" id="quantity_input" class="quantity_input" value="1">
                  <button class="input_drop input_button">+</button>
              </span>
              </span>

            </p>

            <p class="available_sizes_p">
              Size : 
              <span class="available_sizes">
                <span class="mobile_item_size">4GB RAM</span>
                <span class="mobile_item_size">6GB RAM</span>
                <span class="mobile_item_size">8GB RAM</span>
              </span>
            </p>
          </div>
        </div>
      </section>



      <!-------------------------this is the section for product description ---------------------------->
      <section class="product_description">
        <h2 class="product_description_header">Product Description</h2>
        <div class="product_description_text">
          <p class="product_description_p">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum neque unde esse veniam perspiciatis necessitatibus
             eaque maiores! Nemo fugiat asperiores voluptatum repudiandae cumque deleniti blanditiis? Quidem tempore 
             doloremque asperiores labore dolor dolorem aut nemo fugit iusto. Quia id tempora laudantium error laborum, qui animi, 
             vel fugiat nemo dolores aperiam. Quam nobis saepe animi accusamus labore, itaque ullam dolor ducimus fuga reiciendis 
             consequatur eligendi commodi tenetur dolorem dolorum dolores. Inventore ipsam iure facilis, dicta beatae quae? Asperiores labore quibusdam, 
            sint dolores eius quas eveniet nisi non itaque quod soluta saepe, accusantium dolorem possimus vel minima ipsa porro harum deleniti odit dolore.
          </p>

          <p class="product_description_p">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum neque unde esse veniam perspiciatis necessitatibus
             eaque maiores! Nemo fugiat asperiores voluptatum repudiandae cumque deleniti blanditiis? Quidem tempore 
             doloremque asperiores labore dolor dolorem aut nemo fugit iusto. Quia id tempora laudantium error laborum, qui animi, 
             vel fugiat nemo dolores aperiam. Quam nobis saepe animi accusamus labore, itaque ullam dolor ducimus fuga reiciendis 
             consequatur eligendi commodi tenetur dolorem dolorum dolores. Inventore ipsam iure facilis, dicta beatae quae? Asperiores labore quibusdam, 
            sint dolores eius quas eveniet nisi non itaque quod soluta saepe, accusantium dolorem possimus vel minima ipsa porro harum deleniti odit dolore.
          </p>
        </div>
      </section>




      <div class="scroll_menu_header"><h2>Top Sale</h2></div>
      <section class="scroll_menu">
  
        <div class="scroll_menu_button">
          <button   onclick="scrollR()"> <img src="../assets/svgs/left-arrow-7300.svg" alt="" srcset="" class="button_svg"> </button>
        </div>
  
        <div class="main_scroller">
  
          <!-------------------div for and item-------------------------------------------------------------------------->
          <div class="item_div">
            <div class="img_div">
              <img src="../assets/products/1.png" alt="" srcset="" class="item">
            </div>
            <div class="item_text">
              <p  class="item_div_paragraph">Galaxy S6 edge</p>
              <p class="star_rating">
                <span  class="star_rating_span"><img src="../assets/svgs/gold_star.svg" alt="" srcset="" class="gold_star_icon"></span>
                <span  class="star_rating_span"><img src="../assets/svgs/gold_star.svg" alt="" srcset="" class="gold_star_icon"></span>
                <span  class="star_rating_span"><img src="../assets/svgs/gold_star.svg" alt="" srcset="" class="gold_star_icon"></span>
                <span  class="star_rating_span"><img src="../assets/svgs/gold_star.svg" alt="" srcset="" class="gold_star_icon"></span>
                <span  class="star_rating_span"><img src="../assets/svgs/plain_star.svg" alt="" srcset="" class="plain_star_icon"></span>
              </p>
              <p  class="item_div_paragraph"><span>$90</span></p>
              <p class="item_div_paragraph"><button class="item_button">buy</button></p>
            </div>
          </div>
  
          <!-------------------div for and item-------------------------------------------------------------------------->
          <div class="item_div">
            <div class="img_div">
              <img src="../assets/products/2.png" alt="" srcset="" class="item">
            </div>
            <div class="item_text">
              <p  class="item_div_paragraph">Galaxy S6 edge</p>
              <p class="star_rating">
                <span  class="star_rating_span"><img src="../assets/svgs/gold_star.svg" alt="" srcset="" class="gold_star_icon"></span>
                <span  class="star_rating_span"><img src="../assets/svgs/gold_star.svg" alt="" srcset="" class="gold_star_icon"></span>
                <span  class="star_rating_span"><img src="../assets/svgs/gold_star.svg" alt="" srcset="" class="gold_star_icon"></span>
                <span  class="star_rating_span"><img src="../assets/svgs/gold_star.svg" alt="" srcset="" class="gold_star_icon"></span>
                <span  class="star_rating_span"><img src="../assets/svgs/plain_star.svg" alt="" srcset="" class="plain_star_icon"></span>
              </p>
              <p  class="item_div_paragraph"><span>$90</span></p>
              <p class="item_div_paragraph"><button class="item_button">buy</button></p>
            </div>
          </div>
  
          <!-------------------div for and item-------------------------------------------------------------------------->
          <div class="item_div">
            <div class="img_div">
              <img src="../assets/products/3.png" alt="" srcset="" class="item">
            </div>
            <div class="item_text">
              <p  class="item_div_paragraph">Galaxy S6 edge</p>
              <p class="star_rating">
                <span  class="star_rating_span"><img src="../assets/svgs/gold_star.svg" alt="" srcset="" class="gold_star_icon"></span>
                <span  class="star_rating_span"><img src="../assets/svgs/gold_star.svg" alt="" srcset="" class="gold_star_icon"></span>
                <span  class="star_rating_span"><img src="../assets/svgs/gold_star.svg" alt="" srcset="" class="gold_star_icon"></span>
                <span  class="star_rating_span"><img src="../assets/svgs/gold_star.svg" alt="" srcset="" class="gold_star_icon"></span>
                <span  class="star_rating_span"><img src="../assets/svgs/plain_star.svg" alt="" srcset="" class="plain_star_icon"></span>
              </p>
              <p  class="item_div_paragraph"><span>$90</span></p>
              <p class="item_div_paragraph"><button class="item_button">buy</button></p>
            </div>
          </div>
  
          <!-------------------div for and item-------------------------------------------------------------------------->
          <div class="item_div">
            <div class="img_div">
              <img src="../assets/products/4.png" alt="" srcset="" class="item">
            </div>
            <div class="item_text">
              <p  class="item_div_paragraph">Galaxy S6 edge</p>
              <p class="star_rating">
                <span  class="star_rating_span"><img src="../assets/svgs/gold_star.svg" alt="" srcset="" class="gold_star_icon"></span>
                <span  class="star_rating_span"><img src="../assets/svgs/gold_star.svg" alt="" srcset="" class="gold_star_icon"></span>
                <span  class="star_rating_span"><img src="../assets/svgs/gold_star.svg" alt="" srcset="" class="gold_star_icon"></span>
                <span  class="star_rating_span"><img src="../assets/svgs/gold_star.svg" alt="" srcset="" class="gold_star_icon"></span>
                <span  class="star_rating_span"><img src="../assets/svgs/plain_star.svg" alt="" srcset="" class="plain_star_icon"></span>
              </p>
              <p  class="item_div_paragraph"><span>$90</span></p>
              <p class="item_div_paragraph"><button class="item_button">buy</button></p>
            </div>
          </div>
  
          <!-------------------div for and item-------------------------------------------------------------------------->
          <div class="item_div">
            <div class="img_div">
              <img src="../assets/products/5.png" alt="" srcset="" class="item">
            </div>
            <div class="item_text">
              <p  class="item_div_paragraph">Galaxy S6 edge</p>
              <p class="star_rating">
                <span  class="star_rating_span"><img src="../assets/svgs/gold_star.svg" alt="" srcset="" class="gold_star_icon"></span>
                <span  class="star_rating_span"><img src="../assets/svgs/gold_star.svg" alt="" srcset="" class="gold_star_icon"></span>
                <span  class="star_rating_span"><img src="../assets/svgs/gold_star.svg" alt="" srcset="" class="gold_star_icon"></span>
                <span  class="star_rating_span"><img src="../assets/svgs/gold_star.svg" alt="" srcset="" class="gold_star_icon"></span>
                <span  class="star_rating_span"><img src="../assets/svgs/plain_star.svg" alt="" srcset="" class="plain_star_icon"></span>
              </p>
              <p  class="item_div_paragraph"><span>$90</span></p>
              <p class="item_div_paragraph"><button class="item_button">buy</button></p>
            </div>
          </div>
  
          <!-------------------div for and item-------------------------------------------------------------------------->
          <div class="item_div">
            <div class="img_div">
              <img src="../assets/products/6.png" alt="" srcset="" class="item">
            </div>
            <div class="item_text">
              <p  class="item_div_paragraph">Galaxy S6 edge</p>
              <p class="star_rating">
                <span  class="star_rating_span"><img src="../assets/svgs/gold_star.svg" alt="" srcset="" class="gold_star_icon"></span>
                <span  class="star_rating_span"><img src="../assets/svgs/gold_star.svg" alt="" srcset="" class="gold_star_icon"></span>
                <span  class="star_rating_span"><img src="../assets/svgs/gold_star.svg" alt="" srcset="" class="gold_star_icon"></span>
                <span  class="star_rating_span"><img src="../assets/svgs/gold_star.svg" alt="" srcset="" class="gold_star_icon"></span>
                <span  class="star_rating_span"><img src="../assets/svgs/plain_star.svg" alt="" srcset="" class="plain_star_icon"></span>
              </p>
              <p  class="item_div_paragraph"><span>$90</span></p>
              <p class="item_div_paragraph"><button class="item_button">buy</button></p>
            </div>
          </div>
  
          <!-------------------div for and item-------------------------------------------------------------------------->
          <div class="item_div">
            <div class="img_div">
              <img src="../assets/products/7.png" alt="" srcset="" class="item">
            </div>
            <div class="item_text">
              <p  class="item_div_paragraph">Galaxy S6 edge</p>
              <p class="star_rating">
                <span  class="star_rating_span"><img src="../assets/svgs/gold_star.svg" alt="" srcset="" class="gold_star_icon"></span>
                <span  class="star_rating_span"><img src="../assets/svgs/gold_star.svg" alt="" srcset="" class="gold_star_icon"></span>
                <span  class="star_rating_span"><img src="../assets/svgs/gold_star.svg" alt="" srcset="" class="gold_star_icon"></span>
                <span  class="star_rating_span"><img src="../assets/svgs/gold_star.svg" alt="" srcset="" class="gold_star_icon"></span>
                <span  class="star_rating_span"><img src="../assets/svgs/plain_star.svg" alt="" srcset="" class="plain_star_icon"></span>
              </p>
              <p  class="item_div_paragraph"><span>$90</span></p>
              <p class="item_div_paragraph"><button class="item_button">buy</button></p>
            </div>
          </div>
  
          <!-------------------div for and item-------------------------------------------------------------------------->
          <div class="item_div">
            <div class="img_div">
              <img src="../assets/products/8.png" alt="" srcset="" class="item">
            </div>
            <div class="item_text">
              <p  class="item_div_paragraph">Galaxy S6 edge</p>
              <p class="star_rating">
                <span  class="star_rating_span"><img src="../assets/svgs/gold_star.svg" alt="" srcset="" class="gold_star_icon"></span>
                <span  class="star_rating_span"><img src="../assets/svgs/gold_star.svg" alt="" srcset="" class="gold_star_icon"></span>
                <span  class="star_rating_span"><img src="../assets/svgs/gold_star.svg" alt="" srcset="" class="gold_star_icon"></span>
                <span  class="star_rating_span"><img src="../assets/svgs/gold_star.svg" alt="" srcset="" class="gold_star_icon"></span>
                <span  class="star_rating_span"><img src="../assets/svgs/plain_star.svg" alt="" srcset="" class="plain_star_icon"></span>
              </p>
              <p  class="item_div_paragraph"><span>$90</span></p>
              <p class="item_div_paragraph"><button class="item_button">buy</button></p>
            </div>
          </div>
  
          <!-------------------div for and item-------------------------------------------------------------------------->
          <div class="item_div">
            <div class="img_div">
              <img src="../assets/products/9.png" alt="" srcset="" class="item">
            </div>
            <div class="item_text">
              <p  class="item_div_paragraph">Galaxy S6 edge</p>
              <p class="star_rating">
                <span  class="star_rating_span"><img src="../assets/svgs/gold_star.svg" alt="" srcset="" class="gold_star_icon"></span>
                <span  class="star_rating_span"><img src="../assets/svgs/gold_star.svg" alt="" srcset="" class="gold_star_icon"></span>
                <span  class="star_rating_span"><img src="../assets/svgs/gold_star.svg" alt="" srcset="" class="gold_star_icon"></span>
                <span  class="star_rating_span"><img src="../assets/svgs/gold_star.svg" alt="" srcset="" class="gold_star_icon"></span>
                <span  class="star_rating_span"><img src="../assets/svgs/plain_star.svg" alt="" srcset="" class="plain_star_icon"></span>
              </p>
              <p  class="item_div_paragraph"><span>$90</span></p>
              <p class="item_div_paragraph"><button class="item_button">buy</button></p>
            </div>
          </div>
  
          <!-------------------div for and item-------------------------------------------------------------------------->
          <div class="item_div">
            <div class="img_div">
              <img src="../assets/products/10.png" alt="" srcset="" class="item">
            </div>
            <div class="item_text">
              <p  class="item_div_paragraph">Galaxy S6 edge</p>
              <p class="star_rating">
                <span  class="star_rating_span"><img src="../assets/svgs/gold_star.svg" alt="" srcset="" class="gold_star_icon"></span>
                <span  class="star_rating_span"><img src="../assets/svgs/gold_star.svg" alt="" srcset="" class="gold_star_icon"></span>
                <span  class="star_rating_span"><img src="../assets/svgs/gold_star.svg" alt="" srcset="" class="gold_star_icon"></span>
                <span  class="star_rating_span"><img src="../assets/svgs/gold_star.svg" alt="" srcset="" class="gold_star_icon"></span>
                <span  class="star_rating_span"><img src="../assets/svgs/plain_star.svg" alt="" srcset="" class="plain_star_icon"></span>
              </p>
              <p  class="item_div_paragraph"><span>$90</span></p>
              <p class="item_div_paragraph"><button class="item_button">buy</button></p>
            </div>
          </div>
  
          <!-------------------div for and item-------------------------------------------------------------------------->
          <div class="item_div">
            <div class="img_div">
              <img src="../assets/products/11.png" alt="" srcset="" class="item">
            </div>
            <div class="item_text">
              <p  class="item_div_paragraph">Galaxy S6 edge</p>
              <p class="star_rating">
                <span  class="star_rating_span"><img src="../assets/svgs/gold_star.svg" alt="" srcset="" class="gold_star_icon"></span>
                <span  class="star_rating_span"><img src="../assets/svgs/gold_star.svg" alt="" srcset="" class="gold_star_icon"></span>
                <span  class="star_rating_span"><img src="../assets/svgs/gold_star.svg" alt="" srcset="" class="gold_star_icon"></span>
                <span  class="star_rating_span"><img src="../assets/svgs/gold_star.svg" alt="" srcset="" class="gold_star_icon"></span>
                <span  class="star_rating_span"><img src="../assets/svgs/plain_star.svg" alt="" srcset="" class="plain_star_icon"></span>
              </p>
              <p  class="item_div_paragraph"><span>$90</span></p>
              <p class="item_div_paragraph"><button class="item_button">buy</button></p>
            </div>
          </div>
  
          <!-------------------div for and item-------------------------------------------------------------------------->
          <div class="item_div">
            <div class="img_div">
              <img src="../assets/products/12.png" alt="" srcset="" class="item">
            </div>
            <div class="item_text">
              <p  class="item_div_paragraph">Galaxy S6 edge</p>
              <p class="star_rating">
                <span  class="star_rating_span"><img src="../assets/svgs/gold_star.svg" alt="" srcset="" class="gold_star_icon"></span>
                <span  class="star_rating_span"><img src="../assets/svgs/gold_star.svg" alt="" srcset="" class="gold_star_icon"></span>
                <span  class="star_rating_span"><img src="../assets/svgs/gold_star.svg" alt="" srcset="" class="gold_star_icon"></span>
                <span  class="star_rating_span"><img src="../assets/svgs/gold_star.svg" alt="" srcset="" class="gold_star_icon"></span>
                <span  class="star_rating_span"><img src="../assets/svgs/plain_star.svg" alt="" srcset="" class="plain_star_icon"></span>
              </p>
              <p  class="item_div_paragraph"><span>$90</span></p>
              <p class="item_div_paragraph"><button class="item_button">buy</button></p>
            </div>
          </div>

        </div>
  
        <div class="scroll_menu_button">
          <button  onclick="scrollL()"><img src="../assets/svgs/right-arrow-7299.svg" alt="" srcset="" class="button_svg"></button>
        </div>
      </section>




      <!----------------------the footer section of the page --------------------------------------------->
      <footer class="footer">
        <div class="footer_div">
          <div class="footer_div_section_one">
            <h3 class="footer_header">Mobile Shopee</h3>
            <p class="footer_p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, quis.</p>
          </div>
  
  
          <div class="footer_div_section_two">
            <h3>Newslatter</h3>
            <form action="" class="subscribe_form">
              <input type="email" name="email" id="" class="sub_input" placeholder="Email*">
              <button class="subscribe_button">subscribe</button>
            </form>
          </div>
  
  
  
          <div class="footer_div_section_three">
            <h3 class="footer_header">Mobile Shopee</h3>
            <ul class="footer_ul">
              <li><a href="">About Us</a></li>
              <li><a href="">Delivery Information</a></li>
              <li><a href="">Privacy Policy</a></li>
              <li><a href="">Terms & Conditions</a></li>
            </ul>
          </div>
  
          <div class="footer_div_section_three">
            <h3 class="footer_header">Mobile Shopee</h3>
            <ul class="footer_ul">
              <li><a href="">My Account</a></li>
              <li><a href="">Order History</a></li>
              <li><a href="">Which List</a></li>
              <li><a href="">Newslatters</a></li>
            </ul>
          </div>
  
        </div>
  
        
  
  
  
        <div class="copy_write">
          <h3>&#169;Copyrights 2022 Designed by <span class="name">Destiny Obamwonyi</span></h3>
        </div>
      </footer>
    
      <script src="../js/app.js"></script>
</body>
</html>